body {
    padding: none;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background-color: #333333;
    margin: 0px;
}

#center {
    margin-top: 30px; 
    margin-right: 5%;
    margin-left: 5%;

}

.display {
    
}

#inputArea {
    padding: 20px;
    width: 30%;
    height: 100px;
    display: block;
    border-radius: 10px;
    outline: none;
    border: 1px;
    resize: none;
    display: inline;
    float: left;

}

#slide {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

#outputArea {
    padding: 20px;
    margin-left: 19.2%;
    width: 30%;
    height: 100px;
    display: block;
    border-radius: 10px;
    outline: none;
    border: 1px;
    resize: none;
    display: inline;
    float: right;
    


}

#header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: teal;
    
}