body {
    padding: none;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background-color: #333333;
    margin: 0px;
}

#center {
    margin-top: 10%; 
    margin-right: 5%;
    margin-left: 5%;
    display: inline;

}

.inline {
    display: block;
}

.display {
    /* width: 100%; */
    width: calc(50% - 5.5%);
    display: inline-flex;
    color: white;
}

#inputArea {
    padding: 20px;
    height: 100px;
    display: inline;
    border-radius: 10px;
    outline: none;
    border: 1px;
    resize: none;
    width: 100%;
}

#slide {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

#outputArea {
    padding: 20px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px;
    display: inline;
    resize: none;
    width: 100%;


}

#header {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: teal;
    
}