body {
    padding: none;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    color: white;
    background-color: #333333;
    margin: 0px;
}


#header {
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #222;

}
#center {
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 30px;
    width: auto;
    display: inline;

}

textarea {
    padding: 20px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px;
    display: block;

    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* width: 100%; */
}

.text {
    width: 100%;
    display: block;
}

.display {
    /* width: 100%; */
    width: calc(50% - 5.5%);
    display: inline-block;
    color: white;
    margin-bottom: 50px;
}

.inline {
    margin: auto;
    display: inline;
}

#craziness {
    margin-left: 5%;
}


#slide {
    width: calc(85% - 173px);
    display: inline;
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 5%;
}
